.header {
    margin-bottom: 25px;
    border-color: rgb(220, 215, 215);
    border-style: outset;
    padding: 0px;
    background: white;
    font-size: 30px;
}

.border-solid {
    border-style: outset;
    border-color: rgb(191, 188, 188);
}