<div class="footer row mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="row col-md-4">
                <img src="assets/logo.png" width="30px" height="50px">
            </div>
            <div class="row col-md-12 fs-6">
                Privacy Policy
            </div>
            <div class="row col-md-12 fs-6">
                Terms and Conditions
            </div>
            <div class="row col-md-12 fs-6">
                FAQ's
            </div>
        </div>


        <div class="col-md-3">
            <div class="row col-md-12 fs-6 fw-bold"> Cities </div>
            <div class="row col-md-12 fs-6">Karachi</div>
            <div class="row col-md-12 fs-6">Lahore</div>
            <div class="row col-md-12 fs-6">Islamabad</div>
            <div class="row col-md-12 fs-6">Faisalabad</div>
            <div class="row col-md-12 fs-6">Gujranwala</div>
        </div>


        <div class="col-md-3">
            <div class="row col-md-12 fw-bold mb-2 fs-6"> Reach us out at </div>
            <div class="row col-md-12 fw-bold fs-6">Phone</div>
            <div class="row col-md-12 fs-6 mb-2">03112129823</div>
            <div class="row col-md-12 fw-bold fs-6">Email</div>
            <div class="row col-md-12 fs-6 mb-2">some@some.com</div>
            <div class="row col-md-12 fw-bold fs-6">Working Days</div>
            <div class="row col-md-12 fs-6 mb-2">Mon-sun / 9:00 am - 11:00pm</div>
        </div>

        <div class="col-md-3">
            <div class="row col-md-12 fw-bold fs-6"> Download our app </div>

            <div class="row">
                <div class="col-md-2 mr-2"><img src="assets/googleplay.png" width="100px" height="100px"></div>
                <div class="col-md-2 mt-4 ml-2"><img src="assets/appstore.png" width="100px" height="50px"></div>
            </div>

            <div class="row col-md-12 mb-2 fs-6 fw-bold">We accept</div>
            
            <div class="row">
                <div class="col-md-2"><img src="assets/visa.png" width="50px" height="50px"></div>
                <div class="col-md-2"><img src="assets/delivery.png" width="50px" height="50px"></div>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>