.footer {
    margin-bottom: 20px;
    border-color: rgb(220, 215, 215);
    box-shadow: 5px 10px;
    border-style: outset;
    padding: 25px;
    text-align: center;
    background: white;
    color: rgb(220, 215, 215);
    font-size: 30px;
}